/* work sans google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Work+Sans:wght@300;400;600;700;800;900&display=swap');


/* shared styles */



* {
    font-family: 'Work Sans', sans-serif;
}


body {
    margin: 0;
}

.btn-prime {
    background-color: #FF900E;
    color: #fff;
    border: 0;
    padding: 20px 25px;
    border-radius: 10px;
    font-size: 1.25rem;
    cursor: pointer;
}




/* header styles */

/* nav styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 40px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}


.paragraph {
    color: #727272;
}


.banner img {
    margin-top: 20px;
    width: 100%;
}

/* main section styles */

main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams section */

.teams-container {
    display: flex;
    align-items: center;

}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;

}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick1 {
    color: #727272;
    font-weight: 500;
}

.teams-title .quick2 {
    color: #FF900E;
    font-weight: 700;
}





/* responsive media queries */

/* mobile device */

@media screen and (max-width: 576px) {

    header {
        padding: 20px;

    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding-right: 20px;
        padding-left: 20px;
    }



}


/*tablet or medium device*/

@media screen and (min-width: 576px) and (max-width: 960px) {

    header {
        padding: 40px;

    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    .teams-content {
        padding-right: 40px;
        padding-left: 40px;
    }



}